.header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 15px 30px;
  background-color: darkcyan;
  color: white;
}

.logo {
  margin: 0;
}

.buttons button {
  margin-left: 10px;
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 5px;
}

.buttons button:hover {
  background-color: skyblue;
}

.logo-link {
  text-decoration: none;
  color: white;
}

.logo-link:hover {
  color: skyblue;
  cursor: pointer;
}
